body{
    background:linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(image);
    background-size: cover;
    background-position: center;
    }
h1,h2{  
    color:yellow;
    font-family:cursive
    
}
table{
    width:100%;
    border: 1px solid white;
    font-family: cursive;
    color: white;
    background: rgba(211,211,211,0.5);
    padding:10px 10px;
}
td{
    border:1px solid white;
}
button{
  background-color: yellow; 
  border: white;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}